<%= form_with model: store, local: true do |f|%>
  <div class="field">
    <%= f.label :name, "店舗名" %><br />
    <%= f.text_field :name, class: :form__text, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %><br />
    <%= f.text_field :postal_code, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br />
    <%= f.text_field :address, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :telephone, "電話番号" %><br />
    <%= f.text_field :telephone, class: :form__text, id:"prototype_image" %>
  </div>

  <div class="field">
    <%= f.label :url, "公式HP" %><br />
    <%= f.text_field :url, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :closing_day, "店休日" %><br />
    <%= f.text_field :closing_day, class: :form__text, id:"prototype_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :business_hour, "営業時間" %><br />
    <%= f.text_field :business_hour, class: :form__text, id:"prototype_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :fee, "利用料金" %><br />
    <%= f.text_field :fee, class: :form__text, id:"prototype_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :water, "水風呂の水温" %><br />
    <%= f.text_field :water, class: :form__text, id:"prototype_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :temperature, "サウナ室内の温度" %><br />
    <%= f.text_field :temperature, class: :form__text, id:"prototype_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :television, "サウナ室内のテレビ設置" %><br />
    <%= f.text_field :television, class: :form__text, id:"prototype_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :address, "サウナ内BGM" %><br />
    <%= f.text_field :address, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :address, "サウナ内BGM" %><br />
    <%= f.text_field :address, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "店舗外観" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="field">
    <%= f.label :image, "サウナ内画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="field">
    <%= f.label :image, "浴場内の位置関係" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>