<%= form_with model: store, local: true do |f|%>
  <div class="field">
    <%= f.label :name, "店舗名" %><br />
    <%= f.text_field :name, class: :form__text, id:"store_title" %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %><br />
    <%= f.text_field :postal_code, class: :form__text, id:"store_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br />
    <%= f.text_field :address, class: :form__text, id:"store_concept" %>
  </div>

  <div class="field">
    <%= f.label :telephone, "電話番号" %><br />
    <%= f.text_field :telephone, class: :form__text, id:"store_image" %>
  </div>

  <div class="field">
    <%= f.label :url, "公式HP" %><br />
    <%= f.text_field :url, class: :form__text, id:"store_concept" %>
  </div>

  <div class="field">
    <%= f.label :closing_day, "店休日" %><br />
    <%= f.text_field :closing_day, class: :form__text, id:"store_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :business_hour, "営業時間" %><br />
    <%= f.text_field :business_hour, class: :form__text, id:"store_concept" %>
  </div>
  
    <div class="field">
    <%= f.label :parking_car, "駐車場" %><br />
    <%= f.text_field :parking_car, class: :form__text, id:"store_concept" %>
  </div>

    <div class="field">
    <%= f.label :parking_bicycle, "駐輪場" %><br />
    <%= f.text_field :parking_bicycle, class: :form__text, id:"store_concept" %>
  </div>

  <div class="field">
    <%= f.label :fee, "入浴料" %><br />
    <%= f.text_field :fee, class: :form__text, id:"store_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :towel_rental, "タオル貸出" %><br />
    <%= f.text_field :towel_rental, class: :form__text, id:"store_concept" %>
  </div>

  <div class="field">
    <%= f.label :roryu_status, "ロウリュ" %><br />
    <%= f.text_field :roryu_status, class: :form__text, id:"store_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :roryu_time, "ロウリュの時間" %><br />
    <%= f.text_field :roryu_time, class: :form__text, id:"store_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :temperature, "サウナ室内の温度" %><br />
    <%= f.text_field :temperature, class: :form__text, id:"store_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :television, "サウナ室内のテレビ設置" %><br />
    <%= f.text_field :television, class: :form__text, id:"store_concept" %>
  </div>

  <div class="field">
    <%= f.label :water, "水風呂" %><br />
    <%= f.text_field :water, class: :form__text, id:"store_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :water_depth, "水深" %><br />
    <%= f.text_field :water_depth, class: :form__text, id:"store_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :water_quality, "水質" %><br />
    <%= f.text_field :water_quality, class: :form__text, id:"store_concept" %>
  </div>

  <div class="field">
    <%= f.label :air_bath, "外気浴" %><br />
    <%= f.text_field :air_bath, class: :form__text, id:"store_concept" %>
  </div>

  <div class="field">
    <%= f.label :break_place, "インターバル" %><br />
    <%= f.text_field :break_place, class: :form__text, id:"store_concept" %>
  </div>
  
  <div class="field">
    <%= f.label :bgm, "サウナ内BGM" %><br />
    <%= f.text_field :bgm, class: :form__text, id:"store_concept" %>
  </div>

  <div class="field" >
    <%= f.label :images, "店舗画像" %><br />
    <%= f.file_field :images, name: 'store[images][]' ,id:"store-image"%>
  </div>
  <div id="image-list"></div>

  <div class="actions">
    <%= f.submit "登録する", class: :form__btn  %>
  </div>
<% end %>