<div class="card">
  <%= link_to image_tag(store.image, class: :card__img), "#" %>
  <div class="card__body">
    <%= link_to store.name, "#", class: :card__title%>
    <p class="card__summary">
      <%= "水風呂:#{store.water}℃" %>
      <%= "サウナ内温度:#{store.temperature}℃" %>
    </p>
    <%= link_to store.roryu_status, "#", class: :card__user %>
    <%= link_to store.roryu_time, "#", class: :card__user %>
  </div>
</div>