<div class="card">
  <%= link_to image_tag(store.image, class: :card__img), store_path(store) %>
  <div class="card__body">
    <%= link_to store.name, store_path(store), class: :card__title%>
    <p class="card__summary">
      <%= "水風呂:#{store.water}℃" %>
      <%= "サウナ内温度:#{store.temperature}℃" %>
    </p>
    <%= link_to store.roryu_status, store_path(store), class: :card__user %>
    <%= link_to store.roryu_time, store_path(store), class: :card__user %>
    <% if user_signed_in? %>
      <% if store.favorited_by?(current_user) %>
        <p><span>ヨカッタ！: </span><%=link_to store.goods.count, good_path(store.id), method: :delete %></p>
      <% else %>
        <p><span>ヨカッタ！: </span><%=link_to store.goods.count, store_goods_path(store.id), method: :post %></p>
      <% end %>
    <% else %>
      <p><span>ヨカッタ！: </span><%= store.goods.count %></p>
    <% end %>
  </div>
</div>