<div class="card">
  <%= link_to image_tag( store.images[0], class: :card__img, size: '300x300'), store_path(store) %>
  <div class="card__body">
    <%= link_to store.name, store_path(store), class: :card__title%>
    <table class="table1">
      <tr>
        <th>水風呂</th>
        <th>サウナ内温度</th>
      </tr>
      <tr>
        <td><%= "#{store.water}℃" %></td>
        <td><%= "#{store.temperature}℃" %></td>
      </tr>
    </table>
    <table class="table2">
      <tr>
        <th>ロウリュ</th>
        <th>ロウリュタイム</th>
      </tr>
      <tr>
        <td><%= "#{store.roryu_status}" %></td>
        <td><%= "#{store.roryu_time}"%></td>
      </tr>
    </table>
    <div id="goods_buttons_<%= store.id %>">
      <%= render partial: 'goods/good', locals: { store: store } %>
    </div>
  </div>
</div>