<%if @store.current_page == 1 %>
  <div class="top">
    <div class="top_text">
      今行きたいサウナがきっと見つかる
    </div>
    <div class="top_subtext">
      TOTONOIはあなたのサウナライフを豊かにします
    </div>
    <div class="top_search">
      <%= render partial: "store_search" %>
    </div>
  </div>
<% end %>
<main class="main">
  <div class="inner">
    <%= render partial: "hello_user" %>
    <%= render partial: "store_search" %>
    <div class="card__wrapper">
      <%= render partial: "store", collection: @store %>
    </div>
    <%= paginate @store %>
  </div>
</main>