<main class="main">
  <div class="inner">
    <div class="top_page">
      <%= link_to "ホーム", root_path, class: :nav__top %>
    </div>
    <%= render partial: "hello_user" %>
    <%= render partial: "store_search" %>
    <div class="card__wrapper">
      <%= render partial: "store", collection: @results %>
    </div>
    <%= paginate @results %>
  </div>
</div>
