<main class="main">
  <div class="inner">
    <div class="top_page">
      <%= link_to "ホーム", root_path, class: :nav__top %>
    </div>
    <div class="store__wrapper">
      <p class="store__headding">
        <%= @store.name %>
      </p>
      <% if user_signed_in? && ( current_user.id == 1 || current_user.id == 2 ) %>  
        <div class="store__manage">
          <%= link_to "編集する", edit_store_path(@store), class: :store__btn %>
          <%= link_to "削除する", store_path(@store), method: :delete, class: :store__btn %>
        </div>
      <% end %>
      <div class="store__images">
        <% @store.images.each do |image| %>
        <div class="store__image">
          <%= image_tag image, size: '400x400', alt: '店舗画像' %>
        </div>
        <% end %>
      </div>
      <table class="table1">
        <thead>
          <th class="detail__title">温度</th>
          <th class="detail__title">水風呂</th>
          <th class="detail__title">水深</th>
          <th class="detail__title">ロウリュ</th>
          <th class="detail__title">ロウリュタイム</th>
        </thead>
        <tbody>
          <tr>
            <td><%= "#{@store.temperature}℃" %></td>
            <td><%= "#{@store.water}℃ "%></td>
            <td><%= "#{@store.water_depth}cm" %></td>
            <td><%= @store.roryu_status %></td>
            <td><%= @store.roryu_time %></td>
          </tr>
        </tbody>
      </table>
      <table class="table2">
        <thead>
          <th class="detail__title">休憩場所</th>
          <th class="detail__title">外気浴</th>
          <th class="detail__title">水質</th>
          <th class="detail__title">BGM</th>
          <th class="detail__title">テレビ設置</th>          
        </thead>
        <tbody>
          <tr>
            <td><%= @store.break_place %></td>
            <td><%= @store.air_bath %></td>
            <td><%= @store.water_quality %></td>            
            <td><%= @store.bgm %></td>
            <td><%= @store.television %></td>
          </tr>
        </tbody>
      </table>
      <table class="table3">
        <thead>
          <th class="detail__title">公式HP</th>          
          <th class="detail__title">郵便番号</th>
          <th class="detail__title">住所</th>
          <th class="detail__title">電話番号</th>
        </thead>
        <tbody>
          <td><%= link_to @store.name, @store.towel_rental %></td>
          <td><%= "〒#{@store.postal_code}" %></td>
          <td><%= @store.address %></td>
          <td><%= @store.telephone %></td>
        </tbody>
      </table>
      <table class="table4">
        <thead>  
          <th class="detail__title">入浴料</th>
          <th class="detail__title">タオル貸出</th>
          <th class="detail__title">店休日</th>
          <th class="detail__title">営業時間</th>
        </thead>
        <tbody>
          <td><%= "#{@store.fee.to_s(:delimited)}円" %> </td>
          <td><%= @store.towel_rental %></td>
          <td><%= @store.closing_day %></td>
          <td><%= @store.business_hour %></td>
        </tbody>
      </table>
      <table class="table5">
        <thead>  
          <th class="detail__title">駐車場</th>
          <th class="detail__title">駐輪場</th>
        </thead>
        <tbody>
          <td><%= @store.parking_car %> </td>
          <td><%= @store.parking_bicycle %></td>
        </tbody>
      </table>
      <div id='map' class="<%= @store.postal_code + @store.address%>"></div>
      <script>

      let map
      let geocoder

      function initMap(){
        geocoder = new google.maps.Geocoder()
        geocoder.geocode( { 'address': $('#map').attr('class')}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });

        map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 36.0441563, lng: 136.1858503},
        zoom: 15
        });
      }

      function codeAddress(){
        let inputAddress = document.getElementById('address').value;
      }
      </script>
      <div class="store__comments">
        <% if user_signed_in? %>
          <%= form_with(model:[@store, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          <% end %> 
        <% end %>  
        <ul class="comments_lists">
          <% @comments.each do |comments|  %>
            <li class="comments_list">
              <%= "#{comments.content}"%>
              <%= link_to "#{comments.user.nickname}", "#" , class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
