<main class="main">
  <div class="inner">
    <div class="store__wrapper">
      <p class="store__headding">
        <%= @store.name %>
      </p>
      <% if user_signed_in? && current_user == @store.user %>  
        <div class="store__manage">
          <%= link_to "編集する", edit_store_path(@store), class: :store__btn %>
          <%= link_to "削除する", store_path(@store), method: :delete, class: :store__btn %>
        </div>
      <% end %>
      <% @store.images.each do |image| %>
        <div class="store__image">
          <%= image_tag image, alt: '店舗画像' %>
        </div>
      <% end %>
      <table border = "1">
        <thead>
          <th class="detail__title">温度</th>
          <th class="detail__title">水風呂</th>
          <th class="detail__title">水深</th>
          <th class="detail__title">ロウリュ</th>
          <th class="detail__title">ロウリュタイム</th>
          <th class="detail__title">休憩場所</th>
          <th class="detail__title">外気浴</th>
          <th class="detail__title">BGM</th>
          <th class="detail__title">テレビ設置</th>
        </thead>
        <tbody>
          <tr>
            <td class>
              <%= "#{@store.temperature}℃" %>
            </td>
            <td class>
              <%= "#{@store.water}℃ "%>
            </td>
            <td class>
              <%= @store.water_depth %>
            </td>             
            <td class>
              <%= @store.roryu_status %>
            </td>
            <td class>
                <%= @store.roryu_time %>
            </td>
            <td class>
                <%= @store.break_place %>
            </td>
            <td class>
                <%= @store.air_bath %>
            </td>
            <td class>
                <%= @store.bgm %>
            </td>
            <td class>
              <%= @store.television %>
            </td>  
         
          </tr>
        </tbody>
      </table>
      <table border = "1">
        <thead>  
          <th class="detail__title">郵便番号</th>
          <th class="detail__title">住所</th>
          <th class="detail__title">電話番号</th>
          <th class="detail__title">公式HP</th>
          <th class="detail__title">店休日</th>
          <th class="detail__title">営業時間</th>
          <th class="detail__title">入浴料</th> 
        </thead>
        <tbody>
          <td class=>
            <%= "〒#{@store.postal_code}" %>
          </td>
          <td class>
            <%= @store.address %>
          </td>
          <td class>
            <%= @store.telephone %>
          </td>                                    
          <td class>
            <%= @store.url %>
          </td>
          <td class>
            <%= @store.closing_day %>
          </td>
          <td class>
            <%= @store.business_hour %>
          </td>
          <td class>
            <%= "大人（中学生以上）#{@store.fee.to_s(:delimited)}円" %> 
          </td>
        </tbody>
      </table>
      <div class="store__comments">
        <% if user_signed_in? %>
          <%= form_with(model:[@store, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          <% end %> 
        <% end %>  
        <ul class="comments_lists">
          <% @comments.each do |comments|  %>
            <li class="comments_list">
              <%= "#{comments.content}"%>
              <%= link_to "#{comments.user.nickname}", "#" , class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
