<% if user_signed_in? %>
  <% if store.favorited_by?(current_user) %>
    <div><span>ヨカッタ！</span><%=link_to good_path(store.id),class: "like-link", method: :delete, remote: true do%>
      <i class="fas fa-heart unlike-btn"></i>
    <% end %>
    <%= store.goods.count %>
    </div>
  <% else %>
    <div><span>ヨカッタ！</span><%=link_to store_goods_path(store.id), class: "like-link",method: :post, remote: true do%>
      <i class="far fa-heart like-btn"></i>    
    <% end %>
    <%= store.goods.count %>
    </div>
  <% end %>
<% else %>
  <div>
    <span>ヨカッタ！<i class="fas fa-heart unlike-btn"></i></span>
    <%= store.goods.count %>
  </div>
<% end %>